In [169]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth

# Dataset 1

In [229]:
data = pd.read_csv('groceries - groceries.csv')

In [230]:
data.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [231]:
data.drop('Item(s)',axis=1,inplace=True)

In [232]:
data.shape

(9835, 32)

In [233]:
list_of_items=[]
for i in data:
    for j in data[i]:
        j=str(j)
        if j != 'nan':
            list_of_items.append(j)

In [234]:
list_of_items= sorted(set(list_of_items))

In [235]:
list_of_items

['Instant food products',
 'UHT-milk',
 'abrasive cleaner',
 'artif. sweetener',
 'baby cosmetics',
 'baby food',
 'bags',
 'baking powder',
 'bathroom cleaner',
 'beef',
 'berries',
 'beverages',
 'bottled beer',
 'bottled water',
 'brandy',
 'brown bread',
 'butter',
 'butter milk',
 'cake bar',
 'candles',
 'candy',
 'canned beer',
 'canned fish',
 'canned fruit',
 'canned vegetables',
 'cat food',
 'cereals',
 'chewing gum',
 'chicken',
 'chocolate',
 'chocolate marshmallow',
 'citrus fruit',
 'cleaner',
 'cling film/bags',
 'cocoa drinks',
 'coffee',
 'condensed milk',
 'cooking chocolate',
 'cookware',
 'cream',
 'cream cheese',
 'curd',
 'curd cheese',
 'decalcifier',
 'dental care',
 'dessert',
 'detergent',
 'dish cleaner',
 'dishes',
 'dog food',
 'domestic eggs',
 'female sanitary products',
 'finished products',
 'fish',
 'flour',
 'flower (seeds)',
 'flower soil/fertilizer',
 'frankfurter',
 'frozen chicken',
 'frozen dessert',
 'frozen fish',
 'frozen fruits',
 'frozen meals',
 'frozen potato products',
 'frozen vegetables',
 'fruit/vegetable juice',
 'grapes',
 'hair spray',
 'ham',
 'hamburger meat',
 'hard cheese',
 'herbs',
 'honey',
 'house keeping products',
 'hygiene articles',
 'ice cream',
 'instant coffee',
 'jam',
 'ketchup',
 'kitchen towels',
 'kitchen utensil',
 'light bulbs',
 'liqueur',
 'liquor',
 'liquor (appetizer)',
 'liver loaf',
 'long life bakery product',
 'make up remover',
 'male cosmetics',
 'margarine',
 'mayonnaise',
 'meat',
 'meat spreads',
 'misc. beverages',
 'mustard',
 'napkins',
 'newspapers',
 'nut snack',
 'nuts/prunes',
 'oil',
 'onions',
 'organic products',
 'organic sausage',
 'other vegetables',
 'packaged fruit/vegetables',
 'pasta',
 'pastry',
 'pet care',
 'photo/film',
 'pickled vegetables',
 'pip fruit',
 'popcorn',
 'pork',
 'potato products',
 'potted plants',
 'preservation products',
 'processed cheese',
 'prosecco',
 'pudding powder',
 'ready soups',
 'red/blush wine',
 'rice',
 'roll products',
 'rolls/buns',
 'root vegetables',
 'rubbing alcohol',
 'rum',
 'salad dressing',
 'salt',
 'salty snack',
 'sauces',
 'sausage',
 'seasonal products',
 'semi-finished bread',
 'shopping bags',
 'skin care',
 'sliced cheese',
 'snack products',
 'soap',
 'soda',
 'soft cheese',
 'softener',
 'sound storage medium',
 'soups',
 'sparkling wine',
 'specialty bar',
 'specialty cheese',
 'specialty chocolate',
 'specialty fat',
 'specialty vegetables',
 'spices',
 'spread cheese',
 'sugar',
 'sweet spreads',
 'syrup',
 'tea',
 'tidbits',
 'toilet cleaner',
 'tropical fruit',
 'turkey',
 'vinegar',
 'waffles',
 'whipped/sour cream',
 'whisky',
 'white bread',
 'white wine',
 'whole milk',
 'yogurt',
 'zwieback']

In [236]:
formatted_data = pd.DataFrame(np.zeros((9835,169))==1,columns=list_of_items)

In [237]:
for idx, row in data.iterrows():
    for item in row:
        for i in formatted_data:
            if i==item:
                formatted_data[i][idx]=True

In [238]:
formatted_data.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [239]:
output_ap = apriori(formatted_data, min_support = 0.05, use_colnames = True)
output_ap

     support                        itemsets
0   0.052466                          (beef)
1   0.080529                  (bottled beer)
2   0.110524                 (bottled water)
3   0.064870                   (brown bread)
4   0.055414                        (butter)
5   0.077682                   (canned beer)
6   0.082766                  (citrus fruit)
7   0.058058                        (coffee)
8   0.053279                          (curd)
9   0.063447                 (domestic eggs)
10  0.058973                   (frankfurter)
11  0.072293         (fruit/vegetable juice)
12  0.058566                     (margarine)
13  0.052364                       (napkins)
14  0.079817                    (newspapers)
15  0.193493              (other vegetables)
16  0.088968                        (pastry)
17  0.075648                     (pip fruit)
18  0.057651                          (pork)
19  0.183935                    (rolls/buns)
20  0.108998               (root vegetables)
21  0.093950                       (sausage)
22  0.098526                 (shopping bags)
23  0.174377                          (soda)
24  0.104931                (tropical fruit)
25  0.071683            (whipped/sour cream)
26  0.255516                    (whole milk)
27  0.139502                        (yogurt)
28  0.074835  (whole milk, other vegetables)
29  0.056634        (rolls/buns, whole milk)
30  0.056024            (whole milk, yogurt)

In [240]:
output_fp = fpgrowth(formatted_data, min_support = 0.05, use_colnames = True)
output_fp

     support                        itemsets
0   0.082766                  (citrus fruit)
1   0.058566                     (margarine)
2   0.139502                        (yogurt)
3   0.104931                (tropical fruit)
4   0.058058                        (coffee)
5   0.255516                    (whole milk)
6   0.075648                     (pip fruit)
7   0.193493              (other vegetables)
8   0.055414                        (butter)
9   0.183935                    (rolls/buns)
10  0.080529                  (bottled beer)
11  0.110524                 (bottled water)
12  0.053279                          (curd)
13  0.052466                          (beef)
14  0.174377                          (soda)
15  0.058973                   (frankfurter)
16  0.079817                    (newspapers)
17  0.072293         (fruit/vegetable juice)
18  0.088968                        (pastry)
19  0.108998               (root vegetables)
20  0.077682                   (canned beer)
21  0.093950                       (sausage)
22  0.098526                 (shopping bags)
23  0.064870                   (brown bread)
24  0.052364                       (napkins)
25  0.071683            (whipped/sour cream)
26  0.057651                          (pork)
27  0.063447                 (domestic eggs)
28  0.056024            (whole milk, yogurt)
29  0.074835  (whole milk, other vegetables)
30  0.056634        (rolls/buns, whole milk)

In [241]:
output_ap = apriori(formatted_data, min_support = 0.01, use_colnames = True)
output_ap

      support                                       itemsets
0    0.033452                                     (UHT-milk)
1    0.017692                                (baking powder)
2    0.052466                                         (beef)
3    0.033249                                      (berries)
4    0.026029                                    (beverages)
..        ...                                            ...
328  0.011998  (whole milk, tropical fruit, root vegetables)
329  0.014540          (whole milk, yogurt, root vegetables)
330  0.010473                     (soda, whole milk, yogurt)
331  0.015150           (whole milk, yogurt, tropical fruit)
332  0.010880       (whole milk, yogurt, whipped/sour cream)

[333 rows x 2 columns]

In [242]:
output_fp = fpgrowth(formatted_data, min_support = 0.01, use_colnames = True)
output_fp

      support                         itemsets
0    0.082766                   (citrus fruit)
1    0.058566                      (margarine)
2    0.017692            (semi-finished bread)
3    0.139502                         (yogurt)
4    0.104931                 (tropical fruit)
..        ...                              ...
328  0.010168  (frozen vegetables, rolls/buns)
329  0.012405      (frozen vegetables, yogurt)
330  0.014235       (onions, other vegetables)
331  0.012100             (whole milk, onions)
332  0.010778      (sliced cheese, whole milk)

[333 rows x 2 columns]

# Dataset 2

In [245]:
data = pd.read_csv('GroceryStoreDataSet.csv',header=None)

In [246]:
data.head()

                               0
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [247]:
all_items=[]

In [248]:
for i in data[0]:
    for j in i.split(','):
        all_items.append(j)

In [249]:
all_items = sorted(set(all_items))

In [250]:
all_items

['BISCUIT',
 'BOURNVITA',
 'BREAD',
 'COCK',
 'COFFEE',
 'CORNFLAKES',
 'JAM',
 'MAGGI',
 'MILK',
 'SUGER',
 'TEA']

In [251]:
data.shape

(20, 1)

In [252]:
formatted_data = pd.DataFrame(np.zeros((20,11))==1,columns=all_items)

In [253]:
formatted_data.head()

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False

In [254]:
idx=0
for i in data[0]:
    for j in i.split(','):
        for items in formatted_data:
            if items == j:
                formatted_data[j][idx]=True
    idx+=1

In [255]:
formatted_data.head()

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True

In [256]:
output_ap = apriori(formatted_data, min_support = 0.05, use_colnames = True)
output_ap

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
..      ...                                  ...
78     0.05         (MAGGI, BREAD, BISCUIT, TEA)
79     0.10  (COFFEE, CORNFLAKES, COCK, BISCUIT)
80     0.05            (MILK, MAGGI, BREAD, JAM)
81     0.05             (JAM, MAGGI, BREAD, TEA)
82     0.05      (MILK, CORNFLAKES, COFFEE, TEA)

[83 rows x 2 columns]

In [257]:
output_fp = fpgrowth(formatted_data, min_support = 0.05, use_colnames = True)
output_fp

    support                 itemsets
0      0.65                  (BREAD)
1      0.35                (BISCUIT)
2      0.25                   (MILK)
3      0.30             (CORNFLAKES)
4      0.35                    (TEA)
..      ...                      ...
78     0.20          (COFFEE, SUGER)
79     0.20           (BREAD, SUGER)
80     0.05         (BISCUIT, SUGER)
81     0.10   (COFFEE, BREAD, SUGER)
82     0.05  (BREAD, BISCUIT, SUGER)

[83 rows x 2 columns]

In [263]:
output_ap = apriori(formatted_data, min_support = 0.06, use_colnames = True)
output_ap

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
5      0.30                         (CORNFLAKES)
6      0.10                                (JAM)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
9      0.30                              (SUGER)
10     0.35                                (TEA)
11     0.20                     (BREAD, BISCUIT)
12     0.10                      (COCK, BISCUIT)
13     0.10                    (COFFEE, BISCUIT)
14     0.15                (CORNFLAKES, BISCUIT)
15     0.10                     (MAGGI, BISCUIT)
16     0.10                      (MILK, BISCUIT)
17     0.10                       (BISCUIT, TEA)
18     0.15                   (BREAD, BOURNVITA)
19     0.10                   (BOURNVITA, SUGER)
20     0.10                     (BOURNVITA, TEA)
21     0.15                      (COFFEE, BREAD)
22     0.10                         (BREAD, JAM)
23     0.15                       (MAGGI, BREAD)
24     0.20                        (MILK, BREAD)
25     0.20                       (BREAD, SUGER)
26     0.20                         (BREAD, TEA)
27     0.15                       (COFFEE, COCK)
28     0.10                   (CORNFLAKES, COCK)
29     0.20                 (CORNFLAKES, COFFEE)
30     0.20                      (COFFEE, SUGER)
31     0.10                   (MILK, CORNFLAKES)
32     0.10                    (CORNFLAKES, TEA)
33     0.10                         (MAGGI, JAM)
34     0.20                         (MAGGI, TEA)
35     0.10               (MILK, BREAD, BISCUIT)
36     0.10              (COFFEE, COCK, BISCUIT)
37     0.10          (CORNFLAKES, COCK, BISCUIT)
38     0.10        (CORNFLAKES, COFFEE, BISCUIT)
39     0.10                (MAGGI, BISCUIT, TEA)
40     0.10              (BREAD, BOURNVITA, TEA)
41     0.10               (COFFEE, BREAD, SUGER)
42     0.10                  (MAGGI, BREAD, JAM)
43     0.10                  (MAGGI, BREAD, TEA)
44     0.10           (COFFEE, CORNFLAKES, COCK)
45     0.10  (COFFEE, CORNFLAKES, COCK, BISCUIT)

In [264]:
output_fp = fpgrowth(formatted_data, min_support = 0.06, use_colnames = True)
output_fp

    support                             itemsets
0      0.65                              (BREAD)
1      0.35                            (BISCUIT)
2      0.25                               (MILK)
3      0.30                         (CORNFLAKES)
4      0.35                                (TEA)
5      0.20                          (BOURNVITA)
6      0.25                              (MAGGI)
7      0.10                                (JAM)
8      0.40                             (COFFEE)
9      0.15                               (COCK)
10     0.30                              (SUGER)
11     0.20                     (BREAD, BISCUIT)
12     0.10                       (BISCUIT, TEA)
13     0.10                    (COFFEE, BISCUIT)
14     0.20                        (MILK, BREAD)
15     0.10                      (MILK, BISCUIT)
16     0.10                   (MILK, CORNFLAKES)
17     0.10               (MILK, BREAD, BISCUIT)
18     0.15                (CORNFLAKES, BISCUIT)
19     0.10                    (CORNFLAKES, TEA)
20     0.20                 (CORNFLAKES, COFFEE)
21     0.10        (CORNFLAKES, COFFEE, BISCUIT)
22     0.20                         (BREAD, TEA)
23     0.15                   (BREAD, BOURNVITA)
24     0.10                     (BOURNVITA, TEA)
25     0.10                   (BOURNVITA, SUGER)
26     0.10              (BREAD, BOURNVITA, TEA)
27     0.15                       (MAGGI, BREAD)
28     0.20                         (MAGGI, TEA)
29     0.10                     (MAGGI, BISCUIT)
30     0.10                  (MAGGI, BREAD, TEA)
31     0.10                (MAGGI, BISCUIT, TEA)
32     0.10                         (MAGGI, JAM)
33     0.10                         (BREAD, JAM)
34     0.10                  (MAGGI, BREAD, JAM)
35     0.15                      (COFFEE, BREAD)
36     0.15                       (COFFEE, COCK)
37     0.10                   (CORNFLAKES, COCK)
38     0.10                      (COCK, BISCUIT)
39     0.10           (COFFEE, CORNFLAKES, COCK)
40     0.10              (COFFEE, COCK, BISCUIT)
41     0.10          (CORNFLAKES, COCK, BISCUIT)
42     0.10  (COFFEE, CORNFLAKES, COCK, BISCUIT)
43     0.20                      (COFFEE, SUGER)
44     0.20                       (BREAD, SUGER)
45     0.10               (COFFEE, BREAD, SUGER)